@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  font-weight: 500;
  color: #4f46e5;
  text-decoration: none;
}
a:hover {
  color: #6366f1;
}

body {
  margin: 0;
  
  background-color: #121212;
  color: #e5e5e5;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  color: #facc15;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
  transition: all 0.3s e
}